<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MNI</title>
    <link rel="stylesheet" href="/mni/css/style.css">
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="img/icon.png">
    <style>
        .panel {
            width: 45%;
            height: 40%;
            border-radius: 10px;
            background-color: #b3b3b3;
            color: #000000;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
            display: inline-block;
        }

        a:link {
            color: white;
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
        }

        a:visited {
            color: white;
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
        }

        a:hover {
            color: white;
            text-decoration: underline;
            font-family: 'Courier New', Courier, monospace;
        }

        a:active {
            color: white;
            text-decoration: underline;
            font-family: 'Courier New', Courier, monospace;
        }

        .rack-panel {
            width: 45%;
            height: calc(70vh - 10px);
            margin-top: 20px;
            margin-left: 20px;
            display: grid;
        }

        .metadata-panel {
            width: 45%;
            height: calc(70vh - 10px);
            border-radius: 10px;
            background-color: #b3b3b3;
            font-family: 'Courier New', Courier, monospace;
            color: #000000;
            text-align: left;
            margin-top: 20px;
            margin-left: 20px;
            display: inline-block;
        }

        .grid {
            --max-rack-slots=42;
            display: grid;
            grid-template-rows: 16px repeat(var(--max-rack-slots), 16px) 16px;
            grid-template-columns: repeat(1, 1fr);
            width: 300px;
            height: calc(75vh - 20px);
        }

        .slotFree {
            border: 1px solid white;
            background-color: green;
            font-family: 'Courier New', Courier, monospace;
            text-align: left;
            font-size: 0.7em;
            text-indent: 1em;
            color: white;
        }

        .slotUsed {
            border: 1px solid white;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            text-align: left;
            font-size: 0.7em;
            text-indent: 1em;
            color: white;
        }

        .slotReserved {
            border: 1px solid white;
            background-color: #808080;
            font-family: 'Courier New', Courier, monospace;
            text-align: left;
            font-size: 0.7em;
            text-indent: 1em;
            color: white;
        }

        .slotFaulty {
            border: 1px solid white;
            background-color: red;
            font-family: 'Courier New', Courier, monospace;
            text-align: left;
            font-size: 0.7em;
            text-indent: 1em;
            color: white;
        }

        .slotPredicted {
            border: 1px solid white;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            background: repeating-linear-gradient(135deg, #ffff00 0, #ffff00 10%, transparent 0, transparent 50%);
            background-size: 1.25em 1.25em;
            opacity: 1;
            text-align: left;
            font-size: 0.7em;
            text-indent: 1em;
            color: white;
        }
    </style>
    <script async src="/mni/js/mni.js"></script>
</head>

<body>
    <div class="icon-bar" id="icon-bar">
        <a nohref onmouseover="" style="cursor: pointer;" title="MarlinDT Network Intelligence"><img src="/favicon.ico"
                width="25%" height="25%"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/dashboard');"
            title="Dashboard"><i class="fa fa-thermometer-half"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/cable');"
            title="Cables"><i class="fa fa-plug"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/duct');"
            title="Ducts"><i class="fa fa-superpowers"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/pole');"
            title="Poles"><i class="fa fa-arrows-v"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/ne');"
            title="Network Equipment"><i class="fa fa-server"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref class="active" title="Racks"><i class="fa fa-list-ol"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/site');"
            title="Sites"><i class="fa fa-building-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/service');"
            title="Services"><i class="fa fa-tty"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/trenchLifetime');"
            title="Trenches (lifetime)"><i class="fa fa-vine"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/provider');"
            title="Providers"><i class="fa fa-handshake-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/alert');"
            title="Alerts"><i class="fa fa-bullhorn"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/setting');"
            title="Settings"><i class="fa fa-cog"></i></a>
        <a nohref onclick="window.alert('<%=payload.appName%> v<%=payload.appVersion%>.<%=payload.appBuild%>');
            return false;" title="About"><i class="fa fa-info-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/help');"
            title="Help"><i class="fa fa-question-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="logout();" title="Quit"><i
                class="fa fa-window-close"></i></a>
        <a nohref onmouseover="" style="cursor: pointer;" accesskey="h" onclick="toggleDiv('icon-bar');return false;"
            title="Toggle Bar | Mac <ctrl><opt>H | Windows: <alt><shift> |"><i class="fa fa-bars"></i></a>
    </div>
    <div class="panel" id="resourcePanel">
        <div class="rack-select" id="rackList">
            <label for="rackId">Rack</label>
            <select id="rackId" onchange="if(this.selectedIndex !== undefined) fetchRackPoints();"></select>
            <a accesskey="@" nohref onclick="fetchListRack();" onmouseover="" title="refresh"
                style="cursor: pointer;"><i style="color:white;" class="fa fa-refresh"></i></a>
            <label for="rackPoint">Point</label>
            <select id="rackPoint" onchange="if(this.selectedIndex !== undefined) fetchRack();"></select>
        </div>
    </div>
    <div id="view-panel" style="width: 80%;">
        <div id="left-rack-display" style="float:left; width: 45%">
            <div class="rack-panel" id="rackPanel">
                <div class="grid" id="rackGrid"></div>
            </div>
        </div>
        <div id="right-rack-metadata" style="float:right; width: 55%">
            <div class="metadata-panel" id="metadataPanel"></div>
        </div>
    </div>
    <div class="footer">
        <p>© 2024-2025 Merkator nv/sa. All rights reserved.</p>
    </div>
    <script>
        let flrReady = null;
        let frpReady = null;
        let frReady = null;
        let retryMs = 5000;
        let rackId = null;
        let point = null;
        function fetchListRack() {
            if (flrReady != null) {
                clearTimeout(flrReady);
            }
            fetch("<%=payload.gatewayUrl%>/rack", {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        flrReady = setTimeout(fetchListRack, retryMs);
                    }
                })
                .then((data) => {
                    let rackIds = "<option disabled value='-1' selected='selected'> -- select a rack -- </option>";
                    for (var i = 0; i < data.length; i++) {
                        rackIds += "<option value='" + data[i] + "' >" + data[i] + "</option>"
                    }
                    document.getElementById("rackId").innerHTML = rackIds;
                })
                .catch((e) => {
                    console.error(e);
                    flrReady = setTimeout(fetchListRack, retryMs);
                });
        }
        function fetchRack() {
            if (frReady != null) {
                clearTimeout(flrReady);
            }
            let r = document.getElementById("rackId");
            rackId = r.options[r.selectedIndex].value;
            let p = document.getElementById("rackPoint");
            point = p.options[p.selectedIndex].value;
            let grid = document.querySelector(".grid");
            while (grid.firstChild) {
                grid.removeChild(grid.firstChild)
            }
            fetch("<%=payload.gatewayUrl%>/rack/" + rackId + "?point=" + point, {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        flrReady = setTimeout(fetchRack, retryMs);
                    }
                })
                .then((data) => {
                    let rackSlots = data.slots;
                    let slotUsed = 0;
                    let slotFree = 0;
                    let slotReserved = 0;
                    let slotFaulty = 0;
                    let slotPredicted = 0;
                    let slotUsage = data.slotUsage.reverse();
                    grid.style.setProperty("--max-rack-slots", rackSlots);
                    for (let j = 0; j < slotUsage.length; j++) {
                        let cell = document.createElement("div");
                        cell.setAttribute("id", "slot" + (rackSlots - j));
                        switch (slotUsage[j].usage) {
                            case "free":
                                cell.setAttribute("title", rackSlots - j + ": " + slotUsage[j].usage);
                                cell.setAttribute("class", "slotFree");
                                slotFree = slotFree + 1;
                                break;
                            case "used":
                                cell.setAttribute("title", rackSlots - j + ": " + slotUsage[j].usage+" "+slotUsage[j].host+" "+slotUsage[j].mgmtIP);
                                cell.setAttribute("class", "slotUsed");
                                slotUsed = slotUsed + 1;
                                break;
                            case "reserved":
                                cell.setAttribute("title", rackSlots - j + ": " + slotUsage[j].usage);
                                cell.setAttribute("class", "slotReserved");
                                slotReserved = slotReserved + 1;
                                break;
                            case "faulty":
                                cell.setAttribute("title", rackSlots - j + ": " + slotUsage[j].usage);
                                cell.setAttribute("class", "slotFaulty");
                                slotFaulty = slotFaulty + 1;
                                break;
                            case "predicted":
                                cell.setAttribute("title", rackSlots - j + ": " + slotUsage[j].usage);
                                cell.setAttribute("class", "slotPredicted");
                                slotPredicted = slotPredicted + 1;
                                break;
                        }
                        cell.classList.add("cell");
                        grid.appendChild(cell);
                        let cellHTML = "";
                        switch (slotUsage[j].usage) {
                            case "used":
                                if (slotUsage[j].neId != null) {
                                    cellHTML = '&emsp;' + (rackSlots - j) + ' <a href="<%=payload.rootUrl%>/ne/' + slotUsage[j].neId + '" rel="noopener noreferrer" target="_blank">+</a>&emsp;' + slotUsage[j].host;
                                } else {
                                    cellHTML = '&emsp;' + (rackSlots - j);
                                }
                                break;
                            default:
                                cellHTML = '&emsp;' + (rackSlots - j);
                        }
                        document.getElementById("slot" + (rackSlots - j)).innerHTML = cellHTML;
                    }
                    if (data?.decommissioned == undefined) {
                        data.decommissioned = "";
                    }
                    let metadata = '<small><b>Reference</b>:&emsp;' + data.reference + '<br>' +
                        '<center>( '+rackId+' )</center><br>' +
                        '<br>Commissioned:&emsp;&emsp;' + data.commissioned + '<br>' +
                        'Decommissioned:&emsp;' + data.decommissioned + '<br>' +
                        '<br><b>Dimensions</b>:<br>' +
                        'H/W/D:&emsp;' + data.dimensions.height + ' / ' + data.dimensions.width + ' / ' + data.dimensions.depth + ' ' + data.dimensions.unit + '<br>' +
                        'Slots:&emsp;&emsp;' + data.slots + '<br>' +
                        '<br><b>Location</b>:<br>' +
                        'X,Y,Z:&emsp;&emsp;' + data.coordinate.x + ' , ' + data.coordinate.y + ' , ' + data.coordinate.z + '<br>' +
                        'Area:&emsp;&emsp;' + data.area + '<br>' +
                        'Floor:&emsp;&emsp;' + data.floor + '<br>' +
                        'Row:&emsp;&emsp;' + data.row + '<br>' +
                        '<br><b>Usage Summary:</b><br>' +
                        'Free:&emsp;&emsp;&emsp;&emsp;' + slotFree + '<br>' +
                        'Used:&emsp;&emsp;&emsp;&emsp;' + slotUsed + '<br>' +
                        'Reserved:&emsp;&emsp;' + slotReserved + '<br>' +
                        'Faulty:&emsp;&emsp;&emsp;' + slotFaulty + '<br>' +
                        'Predicted:&emsp;&emsp;' + slotPredicted + '<br></small>';
                    document.getElementById("metadataPanel").innerHTML = metadata;
                })
                .catch((e) => {
                    console.error(e);
                    frReady = setTimeout(fetchRack, retryMs);
                });
        }
        function fetchRackPoints() {
            if (frpReady != null) {
                clearTimeout(frpReady);
            }
            let r = document.getElementById("rackId");
            rackId = r.options[r.selectedIndex].value;
            if (rackId != "-1") {
                fetch("<%=payload.gatewayUrl%>/rack/timeline/" + rackId, {
                    method: "GET",
                    headers: {
                        "Accept": "application/json",
                    },
                })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            frpReady = setTimeout(fetchRackPoints, retryMs);
                        }
                    })
                    .then((data) => {
                        let rackPoints = "<option disabled value='-1' selected='selected'> -- select a date/time -- </option>";
                        for (var i = 0; i < data.length; i++) {
                            rackPoints += "<option value='" + data[i].point + "' >" + data[i].point + "</option>"
                        }
                        document.getElementById("rackPoint").innerHTML = rackPoints;
                    })
                    .catch((e) => {
                        console.error(e);
                        frpReady = setTimeout(fetchRackPoints, retryMs);
                    });
            }
        }
        try {
            fetchListRack();
        } catch (e) {
            console.error(e);
            flrReady = setTimeout(fetchListRack, retryMs);
        }
    </script>
</body>

</html>