<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MNI</title>
    <link rel="stylesheet" href="/mni/css/style.css">
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=domain" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="img/icon.png">
    <style>
        .panel {
            width: 30%;
            height: 40%;
            border-radius: 10px;
            background-color: #b3b3b3;
            color: #ffffff;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
            display: inline-block;
        }

        .map {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 5px;
            min-height: 86vh;
        }
    </style>
    <script async src="/mni/js/mni.js"></script>
</head>

<body>
    <script>
        var map;
        var polePath;
        var lineSymbol;
        let fmrReady = null;
        let ftgReady = null;
        let flsReady = null;
        let fppReady = null;
        let retryMs = 5000;
        let siteId = null;
        let point = null;
        let mapVendor = null;
        let siteX = 0;
        let siteY = 0;
        let marker = null;
        let endMarker = null;
        let mapCenter = { lat: 0, lng: 0 };
        let mapRenderUrl = null;
        let urlOnOffNetSuffix = "";
        function fetchListSites() {
            if (flsReady != null) {
                clearTimeout(flsReady);
            }
            if (document.getElementById("onNet").checked) {
                urlOnOffNetSuffix = "onnet";
            } else {
                urlOnOffNetSuffix = "offnet";
            }

            fetch("<%=payload.gatewayUrl%>/site/"+urlOnOffNetSuffix, {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        flsReady = setTimeout(fetchListSites, retryMs);
                    }
                })
                .then((data) => {
                    let siteIds = "<option disabled value='-1' selected='selected'> -- select a site -- </option>";
                    for (var i = 0; i < data.length; i++) {
                        siteIds += "<option value='" + data[i].siteId + "' >" + data[i].reference + "</option>"
                    }
                    document.getElementById("siteId").innerHTML = siteIds;
                    document.getElementById("siteArea").setAttribute("value", "");
                    document.getElementById("siteType").setAttribute("value", "");
                })
                .catch((e) => {
                    flsReady = setTimeout(fetchListSites, retryMs);
                });

        }
        function fetchMapRender() {
            if (fmrReady != null) {
                clearTimeout(fmrReady);
            }

            fetch("<%=payload.gatewayUrl%>/ui/mapRender", {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        fmrReady = setTimeout(fetchMapRender, retryMs);
                    }
                })
                .then((data) => {
                    if (data.vendor != null) {
                        document.getElementById("mapVendor").innerHTML = "<option value='" + data.vendor + "' selected='selected'>" + data.vendor + "</option>";
                        // <option disabled value='OpenStreet Map'>OpenStreet Map</option>
                        // <option disabled value='Microsoft Azure'>Microsoft Azure</option>
                        // <option disabled value='ERSI'>ERSI</option>
                    }
                    if (data.url != null) {
                        mapRenderUrl = data.url + "&loading=async&callback=displayMap&v=weekly";
                    }
                })
                .catch((e) => {
                    fmrReady = setTimeout(fetchMapRender, retryMs);
                });

        }
        function fetchSite() {
            if (ftgReady != null) {
                clearTimeout(ftgReady);
            }
            let t = document.getElementById("siteId");
            siteId = t.options[t.selectedIndex].value;
            poleCoordinates = [];
            mapCenter = { lat: 0, lng: 0 };
            if (siteId != "-1" && point != "-1") {
                fetch("<%=payload.gatewayUrl%>/site/" + siteId, {
                    method: "GET",
                    headers: {
                        "Accept": "application/json",
                    },
                })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            ftgReady = setTimeout(fetchSite, retryMs);
                        }
                    })
                    .then((data) => {
                        if (data != null) {
                            siteX = data.location.coordinate.x;
                            siteY = data.location.coordinate.y;
                            if (document.getElementById("mapRender") !== undefined && document.getElementById("mapRender") != null) {
                                map.setCenter({ lat: siteX, lng: siteY });
                                if (marker != null) {
                                    marker.setMap(null);
                                }
                                marker.setPosition({ lat: siteX, lng: siteY });
                                marker.setMap(map);
                            }
                            if (data.area != null) {
                                document.getElementById("siteArea").setAttribute("value", data.area);
                            }
                            if (data.type != null) {
                                document.getElementById("siteType").setAttribute("value", data.type);
                            }
                        }
                    })
                    .catch((e) => {
                        ftgReady = setTimeout(fetchSite, retryMs);
                    });
                loadScript(mapRenderUrl, function () {
                    function displayMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 17,
                            center: { lat: siteX, lng: siteY },
                            mapTypeId: "hybrid",
                            disableDefaultUI: true,
                        });

                        marker = new google.maps.Marker({
                            position: { lat: siteX, lng: siteY },
                            label: {
                                text: "\ue7ee", // codepoint from https://fonts.google.com/icons
                                fontFamily: "Material Symbols Outlined",
                                color: "#ffffff",
                                fontSize: "18px",
                            },
                            map: map,
                        });
                    }
                    window.displayMap = displayMap;
                });
            }
        }
        try {
            fetchMapRender();
        } catch (e) {
            fmrReady = setTimeout(fetchMapRender, retryMs);
        }
        try {
            fetchListSites();
        } catch (e) {
            flsReady = setTimeout(fetchListSites, retryMs);
        }
    </script>
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <div class="icon-bar" id="icon-bar">
        <a nohref onmouseover="" style="cursor: pointer;" title="MarlinDT Network Intelligence"><img src="/favicon.ico"
                width="25%" height="25%"></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/dashboard');"
            title="Dashboard"><i class="fa fa-thermometer-half"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/cable');"
            title="Cables"><i class="fa fa-plug"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/duct');"
            title="Ducts"><i class="fa fa-superpowers"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/pole');"
            title="Poles"><i class="fa fa-arrows-v"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/ne');"
            title="Network Equipment"><i class="fa fa-server"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/rack');"
            title="Racks"><i class="fa fa-list-ol"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref class="active" title="Sites"><i
                class="fa fa-building-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/service');"
            title="Services"><i class="fa fa-tty"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/trench');"
            title="Trenches"><i class="fa fa-arrows-h"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/trenchLifetime');"
            title="Trenches (lifetime)"><i class="fa fa-vine"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/provider');"
            title="Providers"><i class="fa fa-handshake-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/alert');"
            title="Alerts"><i class="fa fa-bullhorn"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/setting');"
            title="Settings"><i class="fa fa-cog"></i></a>
        <a nohref onclick="window.alert('<%=payload.appName%> v<%=payload.appVersion%>.<%=payload.appBuild%>');
            return false;" title="About"><i class="fa fa-info-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/help');"
            title="Help"><i class="fa fa-question-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="logout();" title="Quit"><i
                class="fa fa-window-close"></i></a>
        <a nohref onmouseover="" style="cursor: pointer;" accesskey="h" onclick="toggleDiv('icon-bar');return false;"
            title="Toggle Bar | Mac <ctrl><opt>H | Windows: <alt><shift> |"><i class="fa fa-bars"></i></a>
    </div>
    <div class="wrapper">
        <div class="mapVendor-select" id="mapVendorList">
            <label for="mapVendor">Map Vendor</label>
            <select id="mapVendor"></select>
        </div>
        <div class="site-select" id="siteList">
            <label for="onNet">onNet</label>
            <input type="checkbox" id="onNet" checked="checked" onchange="fetchListSites();">
            <label for="siteId">site</label>
            <select id="siteId" onchange="if(this.selectedIndex !== undefined) fetchSite();"></select>
            <a accesskey="@" nohref onclick="fetchListSites();" onmouseover="" title="refresh"
                style="cursor: pointer;"><i style="color:white;" class="fa fa-refresh"></i></a>
            <label for="siteArea">Area</label>
            <input type="text" id="siteArea" disabled>
            <label for="siteType">Type</label>
            <input type="text" id="siteType" disabled>
        </div>
    </div>
    <div class="map" id="map"></div>
    <div class="footer">
        <p>© 2024-2025 Merkator nv/sa. All rights reserved.</p>
    </div>
</body>

</html>