<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MNI</title>
    <link rel="stylesheet" href="/mni/css/style.css">
    <link rel="stylesheet" href="/mni/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="img/icon.png">
    <style>
        .panel {
            width: 30%;
            height: 40%;
            border-radius: 10px;
            background-color: #b3b3b3;
            color: #ffffff;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
            display: inline-block;
        }

        .map {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 5px;
            min-height: 86vh;
        }
    </style>
    <script async src="/mni/js/mni.js"></script>
</head>

<body>
    <script>
        var map;
        var trenchPath;
        var lineSymbol;
        let fmrReady = null;
        let ftgReady = null;
        let fltReady = null;
        let ftpReady = null;
        let ftdReady = null;
        let retryMs = 5000;
        let trenchId = null;
        let point = null;
        let mapVendor = null;
        let trenchCoordinates = [];
        let startMarker = null;
        let endMarker = null;
        let mapCenter = { lat: 0, lng: 0 };
        let mapRenderUrl = null;
        function fetchTrenchDistance(id, p) {
            if (ftdReady != null) {
                clearTimeout(ftdReady);
            }

            fetch("<%=payload.gatewayUrl%>/trench/distance/" + id + "?point=" + p, {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        ftdReady = setTimeout(fetchMapRender, retryMs, id);
                    }
                })
                .then((data) => {
                    if (data != null) {
                        if (data.distance != null && data.unit != null) {
                            document.getElementById("trenchDistance").setAttribute("value", data.distance + data.unit);
                        }
                    }
                })
                .catch((e) => {
                    ftdReady = setTimeout(fetchMapRender, retryMs, id);
                });

        }
        function fetchListTrench() {
            if (fltReady != null) {
                clearTimeout(fltReady);
            }

            fetch("<%=payload.gatewayUrl%>/trench", {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        fltReady = setTimeout(fetchMapRender, retryMs);
                    }
                })
                .then((data) => {
                    let trenchIds = "<option disabled value='-1' selected='selected'> -- select a trench -- </option>";
                    for (var i = 0; i < data.length; i++) {
                        trenchIds += "<option value='" + data[i] + "' >" + data[i] + "</option>"
                    }
                    document.getElementById("trenchId").innerHTML = trenchIds;
                    document.getElementById("trenchDistance").setAttribute("value", "");
                })
                .catch((e) => {
                    fltReady = setTimeout(fetchMapRender, retryMs);
                });

        }
        function fetchTrenchPoints() {
            if (ftpReady != null) {
                clearTimeout(ftpReady);
            }

            let t = document.getElementById("trenchId");
            trenchId = t.options[t.selectedIndex].value;
            if (trenchId != "-1") {
                fetch("<%=payload.gatewayUrl%>/trench/timeline/" + trenchId, {
                    method: "GET",
                    headers: {
                        "Accept": "application/json",
                    },
                })
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            ftpReady = setTimeout(fetchMapRender, retryMs);
                        }
                    })
                    .then((data) => {
                        let trenchPoints = "<option disabled value='-1' selected='selected'> -- select a date/time -- </option>";
                        for (var i = 0; i < data.length; i++) {
                            trenchPoints += "<option value='" + data[i].point + "' >" + data[i].point + "</option>"
                        }
                        document.getElementById("trenchPoint").innerHTML = trenchPoints;
                    })
                    .catch((e) => {
                        ftpReady = setTimeout(fetchMapRender, retryMs);
                    });
            }

        }
        function fetchMapRender() {
            if (fmrReady != null) {
                clearTimeout(fmrReady);
            }

            fetch("<%=payload.gatewayUrl%>/ui/mapRender", {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        fmrReady = setTimeout(fetchMapRender, retryMs);
                    }
                })
                .then((data) => {
                    if (data.vendor != null) {
                        document.getElementById("mapVendor").innerHTML = "<option value='" + data.vendor + "' selected='selected'>" + data.vendor + "</option>";
                        // <option disabled value='OpenStreet Map'>OpenStreet Map</option>
                        // <option disabled value='Microsoft Azure'>Microsoft Azure</option>
                        // <option disabled value='ERSI'>ERSI</option>
                    }
                    if (data.url != null) {
                        mapRenderUrl = data.url + "&loading=async&callback=displayMap&v=weekly";
                    }
                })
                .catch((e) => {
                    fmrReady = setTimeout(fetchMapRender, retryMs);
                });

        }
        function fetchTrenchGeometry() {
            if (ftgReady != null) {
                clearTimeout(ftgReady);
            }
            let t = document.getElementById("trenchId");
            trenchId = t.options[t.selectedIndex].value;
            let p = document.getElementById("trenchPoint");
            point = p.options[p.selectedIndex].value;
            trenchCoordinates = [];
            mapCenter = { lat: 0, lng: 0 };

            fetch("<%=payload.gatewayUrl%>/trench/geometry/" + trenchId + "?point=" + point, {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        ftgReady = setTimeout(fetchTrenchGeometry, retryMs);
                    }
                })
                .then((data) => {
                    if (data != null) {
                        if (data.length > 0) {
                            let mi = Number.parseFloat(data.length / 2).toFixed(0);
                            mapCenter = { lat: data[mi].x, lng: data[mi].y };
                        } else {
                            mapCenter = { lat: 0, lng: 0 };
                        }
                        for (var i = 0; i < data.length; i++) {
                            let c = { lat: data[i].x, lng: data[i].y };
                            trenchCoordinates.push(c);
                        }
                        if (document.getElementById("mapRender") !== undefined && document.getElementById("mapRender") != null) {
                            map.setCenter(mapCenter);
                            trenchPath.setMap(null);
                            trenchPath.setPath(trenchCoordinates);
                            trenchPath.setMap(map);
                            if (startMarker != null) {
                                startMarker.setMap(null);
                            }
                            if (endMarker != null) {
                                endMarker.setMap(null);
                            }
                            if (trenchCoordinates.length > 0) {
                                startMarker.setPosition({ lat: trenchCoordinates[0].lat, lng: trenchCoordinates[0].lng });
                                startMarker.setMap(map);
                                endMarker.setPosition({ lat: trenchCoordinates[(trenchCoordinates.length - 1)].lat, lng: trenchCoordinates[(trenchCoordinates.length - 1)].lng });
                                endMarker.setMap(map);
                            }
                        }
                    }
                    fetchTrenchDistance(trenchId, point);
                })
                .catch((e) => {
                    ftgReady = setTimeout(fetchTrenchGeometry, retryMs);
                });
            loadScript(mapRenderUrl, function () {
                function displayMap() {
                    map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 17,
                        center: mapCenter,
                        mapTypeId: "hybrid",
                        disableDefaultUI: true,
                    });
                    lineSymbol = {
                        path: "M 0,-1 0,1",
                        strokeOpacity: 1,
                        scale: 4,
                    };
                    trenchPath = new google.maps.Polyline({
                        path: trenchCoordinates,
                        strokeOpacity: 1.0,
                        strokeColor: "#8B0000",
                        strokeWeight: 4,
                        icons: [
                            {
                                icon: lineSymbol,
                                offset: "0",
                                repeat: "20px",
                            },
                        ],
                        map: map,
                    });
                    trenchPath.setMap(map);
                    startMarker = new google.maps.Marker({
                        position: trenchCoordinates[0],
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 6,
                            strokeOpacity: 0,
                            strokeColor: "#8B0000",
                            fillOpacity: 1.0,
                            fillColor: "#8B0000",
                        },
                        map: map,
                    });
                    endMarker = new google.maps.Marker({
                        position: trenchCoordinates[(trenchCoordinates.length - 1)],
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            scale: 6,
                            strokeOpacity: 0,
                            strokeColor: "#8B0000",
                            fillOpacity: 1.0,
                            fillColor: "#8B0000",
                        },
                        map: map,
                    });
                }
                window.displayMap = displayMap;
            });

        }
        try {
            fetchMapRender();
        } catch (e) {
            fmrReady = setTimeout(fetchMapRender, retryMs);
        }
        try {
            fetchListTrench();
        } catch (e) {
            fltReady = setTimeout(fetchListTrench, retryMs);
        }
    </script>
    <div class="icon-bar" id="icon-bar">
        <a nohref onmouseover="" style="cursor: pointer;" title="MarlinDT Network Intelligence"><img src="/favicon.ico"
                width="25%" height="25%"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/dashboard');"
            title="Dashboard"><i class="fa fa-thermometer-half"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/cable');"
            title="Cables"><i class="fa fa-plug"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/duct');"
            title="Ducts"><i class="fa fa-superpowers"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/pole');"
            title="Poles"><i class="fa fa-arrows-v"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/ne');"
            title="Network Equipment"><i class="fa fa-server"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/rack');"
            title="Racks"><i class="fa fa-list-ol"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/site');"
            title="Sites"><i class="fa fa-building-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/service');"
            title="Services"><i class="fa fa-tty"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref class="active" title="Trenches"><i
                class="fa fa-arrows-h"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/trenchLifetime');"
            title="Trenches (lifetime)"><i class="fa fa-vine"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/provider');"
            title="Providers"><i class="fa fa-handshake-o"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/alert');"
            title="Alerts"><i class="fa fa-bullhorn"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/setting');"
            title="Settings"><i class="fa fa-cog"></i></a>
        <a nohref onclick="window.alert('<%=payload.appName%> v<%=payload.appVersion%>.<%=payload.appBuild%>');
            return false;" title="About"><i class="fa fa-info-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="return jump('<%=payload.rootUrl%>/help');"
            title="Help"><i class="fa fa-question-circle"></i></a>
        <a onmouseover="" style="cursor: pointer;" nohref onclick="logout();" title="Quit"><i
                class="fa fa-window-close"></i></a>
        <a nohref onmouseover="" style="cursor: pointer;" accesskey="h" onclick="toggleDiv('icon-bar');return false;"
            title="Toggle Bar | Mac <ctrl><opt>H | Windows: <alt><shift> |"><i class="fa fa-bars"></i></a>
    </div>
    <div class="wrapper">
        <div class="mapVendor-select" id="mapVendorList">
            <label for="mapVendor">Map Vendor</label>
            <select id="mapVendor"></select>
        </div>
        <div class="trench-select" id="trenchList">
            <label for="trenchId">Trench</label>
            <select id="trenchId" onchange="if(this.selectedIndex !== undefined) fetchTrenchPoints();"></select>
            <a accesskey="@" nohref onclick="fetchListTrench();" onmouseover="" title="refresh"
                style="cursor: pointer;"><i style="color:white;" class="fa fa-refresh"></i></a>
            <label for="trenchPoint">Point</label>
            <select id="trenchPoint" onchange="if(this.selectedIndex !== undefined) fetchTrenchGeometry();"></select>
            <label for="trenchDistance">Length</label>
            <input type="text" id="trenchDistance" disabled></select>
        </div>
    </div>
    <div class="map" id="map"></div>
    <div class="footer">
        <p>© 2024-2025 Merkator nv/sa. All rights reserved.</p>
    </div>
</body>

</html>